@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  cursor: none;
}

.desktop-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.desktop-nav a:hover{
  color: rgb(120, 93, 53);
  cursor: pointer;
}

.shubh{
  font-family: "Fjalla One", sans-serif;
  display: flex;
  color: blanchedalmond;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a,li {
  font-family: "Fjalla One", sans-serif;
  display: inline-block;
  color: blanchedalmond;
  text-decoration: none;
  list-style: none;
  padding: 0px 10px;
  font-size: 18px;
}

.nav-links a:hover {
  color: rgb(120, 93, 53);
  cursor: pointer;
}

#minicircle {
  transition-delay: 10ms;
  width: 20px;
  height: 20px;
  z-index: 9999;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.336);
  backdrop-filter: blur(100px);
}

a:hover {
  cursor: none;
}

#main {
  width: 100%;
  background-color: black;
}

#home {
  position: relative;
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: black;
}

#nav {
  opacity: 0.8;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blanchedalmond;
}

#nav a {
  font-family: "Fjalla One", sans-serif;
  color: blanchedalmond;
  text-decoration: none;
  font-size: 18px;
}

#nav h3 {
  color: blanchedalmond;
}

#heading {
  margin-top: 28vh;
}
#heading h1 {
  margin-left: 30px;
  color: rgb(120, 93, 53);
  line-height: 1;
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 900;
}

#heading #third {
  margin-left: 30px;
  font-size: 40px;
  color: rgb(120, 93, 53);
}

#smallheadings {
  padding-left: 30px;
  font-size: 40px;
  color: rgb(120, 93, 53);
  margin-top: 0.5vw;
  display: flex;
  justify-content: left;
}

#homefooter {
  padding: 0 1vw;
  position: absolute;
  bottom: 2%;
  width: 100%;
  color: blanchedalmond;
  display: flex;
  justify-content: space-between;
}

#homefooter a {
  opacity: 0.8;
  color: blanchedalmond;
  text-decoration: none;
}

#homefooter #iconset {
  display: flex;
  font-size: 30px;
}

#homefooter .circle {
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(104, 81, 81);
}

#spage {
  padding-top: 200px;
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(120, 93, 53);
  padding-top: 3.5vw;
  padding-bottom: 3.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 85%;
  border-top: blanchedalmond 0.5px solid;
}

.elem h1 {
  font-size: 8vw;
}

.elemlast {
  border-bottom: blanchedalmond 0.5px solid;
}

.elem img {
  display: none;
  height: 140%;
  z-index: 999;
  position: absolute;
}

#about img {
  width: 15%;
}

#about #abouttext {
  color: blanchedalmond;
  font-size: medium;
  width: 80%;
}

#abouttext p {
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.5;
}

#about {
  gap: 10px;
  padding: 10vw 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer {
  background-color: black;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer a {
  color: blanchedalmond;
  text-decoration: none;
  font-size: 30px;
}

#footerleft {
  display: flex;
  gap: 20px;
}

#footerright {
  display: flex;
  gap: 30px;
}

.links {
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.links:hover {
  transform: scale(1.3);
}

#footerleft h5 {
  color: blanchedalmond;
}
